.hero{
    background: url('../../public/Images/product-hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh;
}

.product-card-hover {
  transition: transform 0.2s ease-in-out;
}
.product-card-hover:hover {
  transform: translateY(-5px);
}
.rotate-180 {
  transform: rotate(180deg);
  transition: 0.3s;
}